<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Sudo Fishing --sms</h1>
    <p class="lead"> Master artisanal fishing though your mobile phone</p>
    <img src="assets/images/yeoman.png" height="100" alt="I'm a fish">
  </div>
</header>
<!-- 
<div flex="50" layout="column">
<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
</md-card>
</div> -->

<div class="container" >
  <div class="row" id="fish-price">
    <div class="col-lg-12" margin-top="20px">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="f in fish">
        <li>
           <img ng-src="{{f.pic}}" height="100" alt="I'm audakel">
          <h2>{{f.name}}</h2>

           <div><p class="team"><strong>Needed:</strong> {{calculateTotal(main.awesomeThings,f.name,"needed")}}</div></p>
           <div><p class="team"><strong>Buy:</strong> {{calculateTotal(main.awesomeThings,f.name,"buy") | currency}}</div></p>
           <div><p class="team"><strong>Sell:</strong> {{calculateTotal(main.awesomeThings,f.name,"sell") | currency}}</div></p>
         </li>
      </ul>
    </div>
  </div>


  <div class="container" >
  <div class="row">
    <div class="col-lg-12" margin-top="20px">
      <h2>Testing here. don't mind us: </h2>
      <ul class="nav nav-tabs nav-stacked  " ng-repeat="thing in main.awesomeThings |orderBy: 'date':true | limitTo:10">
        <li>
           <div><p class="team">{{thing.number}} is {{thing.buysell}}ing {{thing.quantity}} {{thing.fish}}</div></p>
         </li>
      </ul>
    </div>
  </div>

<footer></footer>
<!-- 
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>The fish data you need</h1>
    <p class="lead">Historical artisinal fishing data analysis</p>
  </div>
</header> 



-->